/* changing table rows padding  */

.MuiTableCell-root {
  padding: 5px !important;
}

/* .MuiButtonBase-root {
      color: #003a4d !important;
    } */

/* .MuiIconButton-root{  color:#003a4d !important;}  */

/* svg style="display:inline-block;height:24px;width:24px;... */

/* changing svg icon in material tabla */
.MuiIconButton-colorInherit {
  color: #003a4d !important;
  padding: 2px !important;
  font-size: 3px !important;
}
.MuiSvgIcon-root {
  height: 16px !important;
  width: 16px !important;
}

.MuiIconButton-colorInherit {
  outline: none !important;
}

div.MTableToolbar-actions-8
  div
  div
  span
  button.MuiButtonBase-root
  span.MuiIconButton-label
  svg.MuiSvgIcon-root {
  height: 22px !important;
  width: 22px !important;
  margin-left: 12px !important;
}

/* setting height of material table header  */
.MuiToolbar-regular {
  min-height: 44px !important;
}

/* 
    .MuiTypography-root{
    display: none !important;
    }  */

.MuiTypography-h6 {
  display: none !important;
}
@media print {
  .MuiTypography-h6 {
    display: block !important;
  }
}

.spinner-border {
  margin: 12px;
  width: 16px !important;
  height: 16px !important;
}

.MuiTableSortLabel-root:hover {
  /* color: rgba(0, 0, 0, 0.54); */
}

.MuiTablePagination-input.MuiTablePagination-selectRoot.Component-paginationSelectRoot-4 {
  margin-right: 12px !important;
}

.MuiInputBase-input.MuiInput-input.MuiInputBase-inputAdornedStart.MuiInputBase-inputAdornedEnd {
  font-weight: 500 !important;
  font-size: 13px !important;
  font-family: sans-serif !important;
}
/*  */

.MuiMenuItem-root {
  line-height: 0.75 !important;
}

.MuiMenuItem-root {
  font-weight: 500 !important;
  font-size: 0.8rem !important;
}

@media print {
  .MuiTableCell-head {
    background-color: yellow !important;
  }
  .MTableHeader-header-14 {
    background-color: yellow !important;
  }
}

.MuiTablePagination-select div {
  font-size: 13px !important;
}
